

.ng-scope {
	width: 100%;
	height: 100%;
}

.splash {
	min-width: 100% !important;
	height: 100%;
	position: absolute; 
	top: 0;
	background: url("../img/splash-background.jpg") center center fixed;
	background-size: cover;
	margin-top: 64px;
}

.splash-btns {
	padding-top: 170px;
}

.input-field label {
 	color: black;
}

.instructor-profile,
.community-view,
.thread-view {
	width: 100%;
	height: 100%;
	overflow: auto;
	position: absolute; 
	top: 0; 
	left: 0;
	margin-top: 64px;
	background-color: beige;
}

.quote {
	margin-top: 50px;
	font-style: italic;
	font-family: Georgia, serif;
	border-left: 10px solid #223CA6;
}

.ratings-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.joe-pic {
	border-radius: 50%;
	border: 1px solid black;
}

.joe-header {
	padding-top: 40px;
}

.rate {
	padding-top: 20px;
}

body {
  display: flex;
  min-height: 120vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}







