<div class="community-view">
	<!-- opening div -->
	
	<div class="row center-align">
		<h3>Cup o' Joe</h3>
	</div>
	<div class="row center-align">
		<h4>Message board to discuss all things Joe</h4>
	</div>

	<!-- Add Events -->
	<div class="add-event center-align">
		<button class="btn waves-effect waves-light blue darken-4 z-depth-5">Create Thread</button>
  </div>

  <!-- Threads from firebase -->
  <div class="row user-threads">
  	<div class="col s12" ng-repeat="thingy in threads">
  		<h6></h6>
  		<div class="divider"></div>
  			<a>{{thingy.title}}</a>
  			<h6>Posted by: {{thingy.user}}</h6>
  		<div class="divider"></div>
  	</div>
  </div>
  



  <!-- User Events -->
  <!-- <div class="row user-events">
  	<div class col s8 offset-s2 ng-repeat="thingy in events">
  		<div class="divider"></div>
				<h5>When: {{thingy.when}}</h5>
				<h5>Where: {{thingy.where}}</h5>
				<h6>Details: {{thingy.comments.comment}}</h6>
				<div class="divider"></div>
  	</div>
  </div> -->

  <!-- closing div -->
</div>
