
<form>
	<div class="input-field">
		<select id="instructorSelect" class="form-control" ng-model="value">
			<option selected disabled>Choose your instructor</option>
			<option>Joe Shepherd</option>
			<option>Steve Brownlee</option>
		</select>
		<label>Instructor Select</label>
	</div>
	<div class="row"><div class="center-align"><button class="btn waves-effect waves-light" ng-click="selectInstructor()">Select</button></div></div>
</form>

<!-- Instructor's profile -->
<div class="row" ng-show="selectedInstructor">
	<h1>{{instructor}}'s profile</h1>
	<div class="rate">
		<button ng-click="activateRate()">Rate</button>
	</div>
</div>
	
<!-- Hidden rate form -->
<form ng-show="rateForm">
	<p>
    <input name="rate" type="radio" id="0" />
    <label for="0">0</label>
  </p>
  <p>
    <input name="rate" type="radio" id="1" />
    <label for="1">1</label>
  </p>
  <p>
    <input name="rate" type="radio" id="2" />
    <label for="2">2</label>
  </p>
  <p>
    <input name="rate" type="radio" id="3" />
    <label for="3">3</label>
  </p>
  <p>
    <input name="rate" type="radio" id="4" />
    <label for="4">4</label>
  </p> 
  <p>
    <input name="rate" type="radio" id="5" />
    <label for="5">5</label>
  </p>
	<div class="row">
    <div class="input-field col s12">
      <textarea id="textarea1" class="materialize-textarea"></textarea>
      <label for="textarea1" placeholder="Type here...">Comments:</label>
    </div>
  </div>
  <div class="row">
  	<button ng-click="submitRating()">Submit</button>
  </div>
</form>
