<div class="row">
	<button ng-click="studentsButtonClick()">Students</button>
</div>


<div class="row" ng-show="login_register">
  <button ng-click="activateLogin()">Login</button>
  <button ng-click="activateRegister()">Register</button>
</div>


<form ng-show="registerMode">
	<div class="input-field">
	  <input id="email" type="email" class="validate">
	  <label for="email">Email</label>
	</div>
	<div class="input-field">
	  <input id="password" type="password" class="validate">
	  <label for="password">Password</label>
	</div>
	<div class="row"><div class="center-align"><button class="btn waves-effect waves-light">Register<i class="material-icons right">send</i></button></div></div>
</form>

<form ng-show="loginMode">
	<div class="input-field">
	  <input id="email" type="email" class="validate">
	  <label for="email">Email</label>
	</div>
	<div class="input-field">
	  <input id="password" type="password" class="validate">
	  <label for="password">Password</label>
	</div>
	<div class="row"><div class="center-align"><button class="btn waves-effect waves-light">Login<i class="material-icons right">send</i></button></div></div>
</form>


  
